.about {
  padding-top: 12px;
  padding-bottom: $spacing-md;

  @include tablet {
    padding-top: $spacing-sm;
    padding-bottom: 28px;
  }

  @include desktop-md {
    padding-top: 0;
    padding-bottom: 51px;
  }

  &__info {
    @include tablet {
      display: flex;
    }
  }

  &__wrapper {
    &--left {
      padding-left: $spacing-sm;
      padding-right: 21px;
      margin-bottom: $spacing-sm;

      @include tablet {
        margin-right: 55px;
        margin-bottom: 0;
        padding-left: $spacing-md;
        padding-right: 0;
      }

      @include desktop-md {
        padding-top: 10px;
        padding-left: $spacing-lg;
      }
    }

    &--right {
      @include mobile-md {
        padding-left: $spacing-sm;
      }
    }
  }

  &__text {
    margin-bottom: $spacing-sm;
    font-size: 14px;
    line-height: 18px;

    @include tablet {
      line-height: 20px;
    }

    &--768 {
      display: none;
    }

    &--1120 {
      display: none;
      margin-top: -16px;
    }

    &--more {
      display: none;
    }
  }

  &__button {
    @include show-more($spacing-sm, $spacing-sm);

    @include tablet {
      margin-bottom: 0;
    }

    &:hover:not(.active) {
      color: $gray;
    }

    &:focus:not(.hover) {
      color: inherit;
    }
  }

  &__button-text {
    padding-left: $spacing-sm;
    font-size: $font-size-md;
  }

  &__svg {
    position: absolute;
    left: 8px;

    @include tablet {
      left: 9px;
    }

    &.open {
      rotate: 180deg;
    }
  }

  &__picture {
    @include tablet {
      padding-right: 25px;
    }

    @include desktop-md {
      padding-right: 29px;
    }
  }

  &__img {
    min-width: 320px;

    @include mobile-md {
      border-radius: 6px;
    }

    @include tablet {
      min-width: 360px;
    }

    @include desktop-md {
      min-width: 532px;
    }
  }
}
