.about {
  padding-top: 12px;
  padding-bottom: 35px;

  &__wrapper--left {
    padding-left: 16px;
    padding-right: 21px;
    margin-bottom: 16px;
  }

  &__text {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 18px;

    &--768 {
      display: none;
    }

    &--1120 {
      display: none;
      margin-top: -16px;
    }

    &--more {
      display: none;
    }
  }

  &__button {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-bottom: 16px;
    padding-left: 16px;
    font-weight: 500;
    transition: $transition-default;

    &:hover {
      color: $gray;
    }
  }

  &__button-text {
    padding-left: 32px;
  }

  &__svg {
    position: absolute;
    left: 24px;

    &.open {
      rotate: 180deg;
    }
  }

  &__img {
    min-width: 320px;
  }
}
