.brands {
  &__svg rect {
    stroke: $pink;
    fill: none;
    transition: $transition-default;
  }

  &__link {
    align-items: center;
    padding: 20px 16px 20px 16px;
    @include swiper-cards(240px, 72px);

    @include tablet {
      width: 224px;
    }

    @include desktop-md {
      width: 224px;
    }

    @include desktop-lg {
      width: 240px;
    }
  }

  &__svg-more {
    &.open {
      rotate: 180deg;
    }
  }
}
