.footer {
  padding: $spacing-sm $spacing-sm 19px $spacing-sm;
  border-top: $title-border;

  @include tablet {
    display: flex;
    justify-content: space-between;
    padding: $spacing-lg $spacing-md 25px $spacing-md;
  }

  &__wrapper {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    color: $gray;
    margin-bottom: $spacing-sm;
    line-height: $spacing-sm;

    &--copyright {
      @include tablet {
        text-align: start;
      }
    }

    &--offer {
      @include tablet {
        text-align: end;
        max-width: 213px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    letter-spacing: 0;
    transition: $transition-default;

    &:hover {
      color: $pink;
    }
  }
}
