.header {
  display: flex;
  justify-content: space-between;
  padding: 19px 16px;
  border-bottom: 1px solid $babyBlue;
  background-color: $white;

  &--pc {
    display: none;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__logo {
    padding-right: 18px;
    min-width: 97px;
    height: 51px;
    background-image: url(../img/header__wrapper--svg.svg);
    background-repeat: no-repeat;
    background-position: center right;
  }

  &__link {
    @include pink-button(40px, 40px);
  }

  &__svg {
    @include button-svg;

    &--burger {
      top: 12px;
    }
  }

  &__burger {
    margin-right: 17px;
  }

  &__nav {
    display: flex;
  }
}

.nav {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    height: 40px;
  }

  &__link {
    &--call,
    &--chat,
    &--profile {
      display: none;
    }

    &--request {
      margin-left: 20px;
    }

    &--status {
      margin-left: 16px;
    }
  }
}
