.header {
  display: flex;
  justify-content: space-between;
  padding: 19px 16px;
  border-bottom: 1px solid $babyBlue;
  background-color: $white;

  @include tablet {
    padding: $spacing-md;
  }

  &--pc {
    display: none;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__logo {
    padding-right: 18px;
    min-width: 97px;
    height: 51px;
    background-image: url(../img/header__wrapper--svg.svg);
    background-repeat: no-repeat;
    background-position: center right;

    @include tablet {
      padding-right: 0;
      padding-left: 23px;
      background-position: center left;
    }
  }

  &__svg {
    @include button-svg;

    &--burger {
      top: 12px;
    }

    &--status {
      right: 12px;
    }
  }

  &__burger {
    margin-right: 17px;

    @include tablet {
      margin-right: 20px;
    }
  }

  &__nav {
    display: flex;
  }
}

.nav {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    height: 40px;

    &--profile {
      @include tablet {
        margin-right: 22px;
        padding-right: 22px;
        background-image: url(../img/header__wrapper--svg.svg);
        background-repeat: no-repeat;
        background-position: center right;
      }
    }
  }

  &__button {
    &--call {
      display: none;

      @include tablet {
        display: block;
        margin-left: $spacing-sm;
      }
    }

    &--chat {
      display: none;

      @include tablet {
        display: block;
        margin-left: $spacing-sm;
      }
    }

    &--profile {
      display: none;

      @include tablet {
        display: block;
        margin-left: 20px;
      }
    }

    &--request {
      margin-left: 20px;
    }

    &--status {
      margin-left: $spacing-sm;
    }
  }
}
