.navigation {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  z-index: 100;

  @include desktop-md {
    display: block;
  }

  &__overlay {
    @include modal-overlay;
    left: 0;
    z-index: 99;

    @include desktop-md {
      visibility: hidden;
    }
  }

  &__content {
    width: 320px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100vh;
    box-shadow: 16px 0 52px #0e185033;
    background-color: $white;
    z-index: 100;

    @include mobile-lg {
      width: 360px;
    }

    @include tablet {
      width: 320px;
    }

    @include desktop-md {
      visibility: visible;
      box-shadow: none;
    }

    @include desktop-md {
      width: 305px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__header {
    margin-bottom: 23px;
    padding: 19px $spacing-sm 0 $spacing-sm;
    display: flex;
    align-items: center;

    @include desktop-md {
      margin-bottom: 38px;
      padding: 30px 31px 0 22px;
    }
  }

  &__logo {
    max-width: 96.13px;
    min-height: 51px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-sm;
  }

  &__button {
    &--close {
      margin-right: 17px;

      @include desktop-md {
        display: none;
      }
    }

    &--search {
      margin-left: auto;
    }

    &--call {
      margin-right: $spacing-sm;
    }

    &--chat {
      margin-right: $spacing-sm;
    }
  }

  &__svg {
    align-self: center;
    width: 100%;
  }

  &__nav {
    @include tablet {
      margin-bottom: auto;
    }
  }

  &__list {
    margin-bottom: $spacing-lg;

    &--lang {
      display: flex;
      margin-bottom: 0;
    }
  }

  &__item {
    padding: 12px 0 12px $spacing-sm;
    font-size: $font-size-md;
    line-height: 24px;
    transition: color 0.3s ease-in-out;

    @include desktop-md {
      padding-left: $spacing-md;
    }

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    &:hover {
      @include side-accent(4px, 32px);
      background-image: url(../img/side-accent--pink--svg.svg);
    }

    &--active {
      color: $gray;
      @include side-accent(4px, 32px);

      @include desktop-md {
        background: none;
        color: $text;
      }

      &:hover {
        @include side-accent(4px, 32px);

        @include desktop-md {
          @include side-accent(4px, 32px);
          background-image: url(../img/side-accent--pink--svg.svg);
        }
      }
    }

    &--active-pc {
      @include desktop-md {
        color: $gray;
        @include side-accent(4px, 32px);

        &:hover {
          @include desktop-md {
            @include side-accent(4px, 32px);
          }
        }
      }
    }

    &--lang {
      margin-right: 7px;
      padding: 0;

      &:last-child {
        margin-right: 0;
      }

      &:hover:not(.active) {
        color: $pink;
        background: none;
      }
    }
  }

  &__link {
    font-weight: 500;
    line-height: 24px;
    transition: $transition-default;

    &--contacts {
      display: block;
    }

    &--email {
      margin-bottom: 12px;
      font-size: $font-size-md;
      line-height: 24px;
      font-weight: 500;
    }

    &--tel {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -0.6px;
    }

    &:hover {
      color: $pink;
    }

    &--active {
      &:hover {
        color: $gray;

        @include desktop-md {
          color: $pink;
        }
      }
    }

    &--active-pc:hover {
      @include desktop-md {
        color: $gray;
      }
    }
  }

  &__contacts {
    margin-bottom: 8px;
    padding-left: $spacing-md;

    @include tablet {
      margin-bottom: 40px;
    }
  }

  &__lang {
    padding-left: $spacing-md;
    padding-bottom: $spacing-lg;

    @include tablet {
      padding-bottom: 10px;
    }
  }

  &__radio[type='radio'] {
    display: none;

    &:checked + label {
      color: $gray;
    }
  }

  &__caption {
    font-weight: 500;
    cursor: pointer;
  }
}
