.prices {
  padding-bottom: 40px;

  @include tablet {
    padding-bottom: 47px;
  }

  &__title {
    @include tablet {
      margin-bottom: 31px;
    }
  }

  &__header {
    display: none;

    @include tablet {
      position-try: relative;
      padding-left: 40px;
      padding-right: 40px;
      display: flex;
      justify-content: space-between;
    }

    &::after {
      @include tablet {
        content: '';
        position: relative;
        right: 0;
        width: 119px;
      }
    }
  }

  &__container {
    padding-bottom: $spacing-sm;

    @include tablet {
      display: flex;
      padding: $spacing-sm $spacing-md;
    }
  }

  .swiper-slide {
    margin-bottom: 10px;
    width: 82%;

    @include tablet {
      margin-bottom: 0;
      width: auto;
    }

    &:first-child {
      padding-left: 8px;

      @include tablet {
        padding-left: 0;
      }
    }

    &:last-child {
      padding-right: 8px;

      @include tablet {
        padding-right: 0;
      }
    }
  }

  &__list {
    @include tablet {
      flex-direction: column;
      min-width: 100%;
      background-color: $white;
      border-radius: 6px;
    }
  }

  &__item {
    @include tablet {
      position: relative;
    }

    &::after {
      @include tablet {
        content: '';
        position: absolute;
        bottom: 0;
        left: 2.5%;
        height: 1px;
        width: 95%;
        background-color: #eaeaea;
      }
    }

    &:last-child::after {
      @include tablet {
        height: 0;
      }
    }
  }

  &__content {
    padding: $spacing-sm;
    flex-direction: column;
    @include swiper-cards(260px, 200px);
    border: none;
    border-radius: 6px;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: $spacing-md $spacing-sm;
      width: 100%;
      height: auto;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    @include tablet {
      margin-bottom: 0;
      margin-right: auto;
    }
  }

  &__type {
    @include tablet {
      width: 348px;
    }
  }

  &__price {
    @include tablet {
      width: 74px;
    }
  }

  &__time {
    @include tablet {
      width: 81px;
    }
  }

  &__subtitle {
    margin-bottom: 1px;
    font-weight: 500;
    color: $gray;

    &--mob {
      @include tablet {
        display: none;
      }
    }

    @include tablet {
      margin-right: auto;
    }

    &--type {
      @include tablet {
        width: 348px;
      }
    }

    &--price {
      @include tablet {
        width: 74px;
      }
    }

    &--time {
      @include tablet {
        width: 81px;
      }
    }
  }

  &__descr {
    line-height: 18px;
  }

  &__svg {
    margin-left: auto;
    align-self: center;

    &--offer {
      margin-left: 4px;
      margin-bottom: -3px;
    }
  }

  &__note {
    padding: 0 25px $spacing-sm $spacing-sm;

    @include tablet {
      padding: 0 0 $spacing-sm $spacing-md;
      width: 431px;
    }
  }

  &__offer {
    display: inline-block;
    padding-left: $spacing-sm;
    padding-right: 25px;
    font-size: $font-size-md;
    font-weight: 500;
    line-height: 24px;
    transition: $transition-default;

    @include tablet {
      padding-left: $spacing-md;
    }

    &:hover {
      color: $pink;
    }
  }

  &__button {
    @include tablet {
      position: static;
      align-self: auto;
    }
  }
}
