.main-title {
  margin-bottom: $spacing-md;
  padding-left: $spacing-sm;

  @include tablet {
    padding-left: $spacing-md;
  }
}

.services {
  position: relative;
  padding-top: $spacing-md;
  padding-bottom: $spacing-md;

  @include tablet {
    padding-bottom: $spacing-lg;
  }

  &::before {
    @include fading-effect-left(14px, 40px, 20px, 0.1);
    z-index: 5;
  }

  &::after {
    @include fading-effect(16px, 40px, 24px, 0.1);
  }

  &__list {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
    padding-left: 16px;
    scrollbar-width: none;
  }

  &__button {
    padding: 8px 17px 8px 17px;
    color: $gray;
    font-size: $font-size-md;
    font-weight: 500;
    min-width: max-content;
    border: 2px solid transparent;
    border-radius: 6px;
    transition: $transition-default;

    &:hover {
      color: $pink;
      background-color: $white;
      border-color: $lightPink;
      border-radius: 6px;
    }

    &--active {
      background-color: $white;
      border: 2px solid $lightBlue;
      border-radius: 6px;

      &:hover {
        color: $gray;
        border: 2px solid $lightBlue;
      }
    }
  }
}
