.services {
  position: relative;
  padding-top: $spacing-md;
  padding-bottom: $spacing-md;

  @include tablet {
    padding-bottom: $spacing-lg;
  }

  @include desktop-md {
    display: none;
  }

  &::before {
    @include fading-effect-left(14px, 50%, 20px, 0.1);
    z-index: 5;
  }

  &::after {
    @include fading-effect(16px, 100%, 24px, 0.1);
  }

  &__list {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
    padding-left: 16px;
    scrollbar-width: none;

    @include desktop-sm {
      overflow-x: hidden;
      flex-wrap: wrap;
    }
  }
}
