.button {
  transition: $transition-default;

  @include pink-button;
  &--round {
    padding: 12px 11px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

  &--wide {
    position: absolute;
    width: 119px;
    height: 32px;
    bottom: 16px;
    border-radius: 16px;
    padding: 4px 16px 4px 12px;
    align-self: flex-end;
  }

  &:hover {
    color: $pink;
    background-color: $lightPink;
  }
}

.close-button {
  @include desktop-md {
    position: absolute;
    top: $spacing-lg;
    left: -72px;
  }
}

.service-buton {
  padding: 8px 17px 8px 17px;
  color: $gray;
  font-size: $font-size-md;
  font-weight: 500;
  min-width: max-content;
  border: 2px solid transparent;
  border-radius: 6px;
  transition: $transition-default;

  @include desktop-md {
    padding: 7px 19px 7px 19px;
  }

  &:hover {
    color: $pink;
    background-color: $white;
    border-color: $lightPink;
    border-radius: 6px;
  }

  &--active {
    background-color: $white;
    border: 2px solid $lightBlue;
    border-radius: 6px;

    &:hover {
      color: $gray;
      border: 2px solid $lightBlue;
    }
  }
}
