@mixin pink-button($width, $height) {
  position: relative;
  display: flex;
  text-align: center;
  padding: 12px 11px;
  width: $width;
  height: $height;
  background-color: $pink;
  color: $white;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 50%;
  font-size: 12px;
  line-height: 24px;
}

@mixin button-svg {
  position: absolute;
  top: 10px;
}

@mixin titles-padding($padding-left) {
  padding: 16px 0 16px $padding-left;
}

@mixin side-accent($width, $height) {
  background-image: url(../img/side-accent--svg.svg);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: $width $height;
}

@mixin fading-effect($bottom, $height, $width, $opacity) {
  content: '';
  position: absolute;
  right: 0;
  bottom: $bottom;
  height: $height;
  width: $width;
  background: linear-gradient(
    to right,
    rgba(248, 248, 248, $opacity),
    $bgColor
  );
}

@mixin swiper-cards($width, $height) {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
  width: $width;
  height: $height;
  background-color: $white;
  border: 1px solid #eaeaea;
  border-radius: 6px;
}
