.modal {
  position: absolute;
  min-height: 100vh;
  top: 0;
  right: 0;
  z-index: 100;

  &__overlay {
    @include modal-overlay;
    right: 0;
    z-index: 99;
  }

  &__title {
    @include desktop-md {
      margin-bottom: $spacing-md;
    }
  }

  &__content {
    position: absolute;
    right: 0;
    padding-bottom: 75px;
    width: 320px;
    box-shadow: 16px 0 52px #0e185033;
    background-color: $white;
    overflow-y: scroll;
    height: 100vh;
    z-index: 110;

    @include mobile-lg {
      width: 360px;
    }

    @include smartphone {
      width: 390px;
    }

    @include tablet {
      width: 320px;
    }

    @include desktop-md {
      overflow: visible;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__header {
    padding: 25px 16px;
    margin-bottom: 8px;

    @include desktop-md {
      position: relative;
      padding: 0;
      margin-bottom: $spacing-lg;
    }
  }

  &__button {
    position: relative;
    text-align: left;
    width: 136px;
    margin-left: auto;
    bottom: 0;
    padding-left: 19px;
    padding-right: 19px;
    border: none;

    &--submit {
      cursor: pointer;
    }
  }

  &__form {
    padding: 0 16px 0 16px;
  }

  &__input {
    @include modal-input;
    margin-bottom: 16px;
    transition: $transition-default;

    &::placeholder {
      color: #b5b6bc;
      transition: $transition-default;
    }

    &:hover:not(.active)::placeholder {
      color: $pink;
    }

    &:active::placeholder {
      color: $pink;
    }

    &:focus:not(.hover)::placeholder {
      color: $pink;
    }

    &--textarea {
      height: 118px;
    }

    &:hover:not(.active) {
      border-color: $lightPink;
    }

    &:active {
      outline: none;
      border-color: $pink;
    }

    &:focus:not(.hover) {
      outline: $pink;
      border-color: $pink;
      background-color: #fdf6f7;
    }
  }

  &__note {
    margin-bottom: 19px;
    color: $gray;
    font-weight: 500;
    line-height: 16px;
  }

  &__link {
    color: $pink;
    transition: $transition-default;

    &:hover {
      color: $text;
    }
  }

  &__label {
    display: flex;
    position: relative;
    color: $white;
    transition: $transition-default;

    &:hover {
      color: $pink;
    }
  }

  &__svg {
    align-self: center;

    &--submit {
      position: absolute;
      right: 19px;
      bottom: 11px;
    }
  }
}
