$bgColor: #f8f8f8;
$text: #1b1c21;
$white: white;
$gray: #7e7e82;
$pink: #ff3e79;
$lightPink: #ffe0e9;
$blue: #41f6d7;
$lightBlue: #b8ffec;
$babyBlue: #d9fff5;

$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 28px;

$padding-left-sm: 16px;
$padding-left-md: 24px;
$padding-left-lg: 32px;

$transition-default: all 0.3s ease-in-out;

$title-gradient: linear-gradient(to right, $bgColor, $white);

$title-border: 1px solid $babyBlue;
